/* NavBar */
.brandImg{
    height: 2.5vh;
}

.nav-link:hover{
    color: #6FB98F !important;
}

.nav-item{
    padding-bottom: 0.5vh;
}
.navbar-brand:hover{
    filter: grayscale(75);
}

.btn-outline-success{
    text: #6FB98F !important;
}
/* Landing */
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd27a515bce2dade58bc288fde28f290&auto=format&fit=crop&w=2593&q=80");

    /* Full height */
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, local;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.landing-search{
    width: 80vh;
    height: 5vh;
}
.btn-click{
    margin-top:30px;
    border-radius: 25px;
    background-color: #6FB98F !important;
}
.form-control{
    border-radius: 12.5px;
    border-color: #6FB98F !important;
}
.buttonImg{
    margin-top: 2vh;
    height: 8vh;
}
.NavBarButtonImg{
    height: 2.0vh;
}
.buttonImg:hover{
    filter: hue-rotate(350);
}
